* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #ec0e0e;
    border-radius: 5px;
    height: 50px;
    margin: 10px;
    background: #a1e1f1;
}

.logo {
    flex: 2;
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
}

.logo a {
    display: inline-block;
    text-decoration: none;
    transition: transform .5s;
    color: blue;

}

.logo a:hover {
    transform: translateY(-5px);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
    gap: 10px;
}

.search button {
    cursor: pointer;
    border-radius: 5px;
    transition: transform .5s;
    flex: 1;
    height: 30px;
}

.search button:hover {
    transform: translateY(-5px);
}

.search input {
    border-radius: 5px;
    flex: 9;
    padding: 5px;
    height: 30px;
}

.account {
    flex: 3;
    text-align: center;
    /* background: #0ebfec;
    border: 1px solid #6e0eec; */
    margin: 20px;
    border-radius: 5px;

    height: 30px;
    padding: 5px;
}

.account a {
    display: inline-block;
    text-decoration: none;
    transition: transform .5s;
}

.account a:hover {
    transform: translateY(-5px);
}

.cart {
    flex: 2;
    text-align: center;
}

.cart a {
    display: inline-block;
    text-decoration: none;
    transition: transform .3s;
}

.cart a:hover {
    transform: translateY(-5px);

}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.menu li {
    list-style: none;
    border-left: 1px solid blue;
    text-align: center;
    padding-left: 5px;
    transition: transform .3s;
}

.menu li:last-child {
    border-left: none;
}


.menu li a {
    text-decoration: none;
}

.menu li:hover {
    border-bottom: 1px solid red;
    /* transform: translatey(-5px); */
    transform: scale(1.2);
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
    text-align: center;

}

.section {
    border: 1px solid #a1e1f1;
    border-radius: 5px;
    padding: 20px;
}

.cart-section {
    display: flex;
    flex-direction: column;
    gap: 20px
}


.totalprice {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ec0e0e;
    border-radius: 5px; */
    width: 50%;
    margin: auto;
}

.price-count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid red;
    border-radius: 5px;
    margin: 0 auto;
    width: 700px;
    gap: 20px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    font-style: italic;
}

.section h2 {
    font-size: 28px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
}

.product-grid article {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    border: 1px solid #563496;
    border-radius: 5px;

}

.product-grid article img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.product-grid article button {
    cursor: pointer;
    transition: transform .5s;
    border-radius: 5px;
    font-size: medium;
    width: 100%;
}


.product-grid article button:hover {
    transform: translateY(-5px);
}


.cartinfo {
    display: flex;
    gap: 20px;
}

.productcart {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
    width: 60%;
    gap: 50px;
    border: 1px solid red;

}


.productcart .cartitem .infobox {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}



.total {
    display: flex;
    justify-content: center;
    /* position: sticky; */
    flex-direction: column;
    width: 40%;
    gap: 30px;
    border: 1px solid blue;
    padding: 50px;
    font-weight: bolder;
}


.total button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin: auto;
}

.summery {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cartitem {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 500%; */
}


.cartitem li.empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* text-align: center; */
}

.cartitem li {
    display: flex;
    list-style: none;
    padding: 30px;
    gap: 20px;
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;

}


.cartitem li img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.cart-grid article img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.divbutton {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.divbutton button {
    width: 30px;
    height: 30px;
}


.cart-grid article {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    border: 1px solid #563496;
    border-radius: 5px;

}

.cart-grid article div button {
    cursor: pointer;
    transition: transform .5s;
    border-radius: 5px;
    font-size: medium;
    width: 30px;
    height: 30px;
}

.cart-grid article div {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}


.cart- .register {
    width: 250px;
    margin: auto;
    cursor: pointer;
    font-size: large;
    background: #0a940a;
    padding: 10px;
    border-radius: 5px;
}

/* .register a{
        text-decoration: none;

} */

.register:hover {
    transform: translateY(-5px);
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.imagebox {
    display: flex;
    width: 40%;
}

.imagebox img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

/* .infobox {
    display: flex;
    flex: 1;
}
 */

footer {
    height: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    border: 1px solid #ec0e0e;
    border-radius: 10px;
}

.footer li {
    list-style: none;
}

.footer li a {
    text-decoration: none;

}


/* .product-detail article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */

.product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 100%;
}

.infoboxp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    /* justify-content: center;
    align-items: center; */
}


.infoboxp button {
    width: 40%;
    margin: auto;
    transition: transform .5s;
    border-radius: 10px;
    height: 50px;
    font-size: large;
}

.infoboxp button:hover{
    cursor: pointer;
    background: #ec0e0e;
    box-shadow:0 0 1px  red;
    opacity: .9;
}

.imageboxp {
    width: 30%;
}


.imageboxp img {
    width: 50%;
    object-fit: contain;
}




.articlep {
    display: flex;
    /* flex-direction: row !important;
    border: 5px solid red; */
}


.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-card button {
    margin-top: auto;
}



.product-card h3 {
    line-height: 1.5;
    height: 3em;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.namelink{
    text-decoration: none;
}


.namelink:hover{
    background: red;
}