{%extends "base.html" %}
{% load static %}


   {%block header_refrences%} <link rel="stylesheet" href="{% static 'store/css/register.css'%}"> {%endblock%}
    {%block title%} صفحه ورود   {%endblock%}
{%block content%}
<form method="post">
    {% csrf_token %}

    <label for="username">نام کاربری</label>
    <input type="text" id="username" name="username">

    <label for="password">رمز عبور</label>
    <input type="password" id="password" name="password">

    <button type="submit">ورود</button>

</form>
{% if messages %}
{% for message in messages %}
<p class="message">{{ message }}</p>
{% endfor %}
{% endif %}
<div class="noaccount">
    <p>حساب کاربری ندارید؟</p>
    <a href="/register/">ثبت نام</a>
</div>
{%endblock%}

