{% extends "base.html" %}
{% load static %}

    {% block header_refrences %}
    <link rel="stylesheet" href="{% static 'store/css/product.css' %}">
{% endblock %}
{% block titile %}
جزئیات محصول
{% endblock %}

{% block content %}
    <main>
        <section class="product">
            <h2>جزئیات محصول</h2>
            <div class="product-detail">

            </div>

        </section>


    </main>
{% endblock %}

{% block footer_refrences %}

<!--    <script src="{% static 'store/js/pstoredata2.js'%}"></script>-->
    <script type="module" src="{% static  'store/js/product.js'%}"></script>

{% endblock %}