{%extends "base.html" %}
{% load static %}

{%block header_refrences%}
    <link rel="stylesheet" href="{%static 'store/css/pstore.css' %}">
{%endblock%}
{%block title%}
سبد خرید
{%endblock%}
{%block content %}

    <main>
        <section class="product">
            <h2>سبد خرید</h2>
            <div class="cartinfo">
                <div class="productcart">
                    <ul class="cartitem">

                    </ul>
                    
                </div>
                <div class="total">
                    <div class="summery">
                        <!-- محل قرار گرفتن مجموع کل سبد و تعداد اقلام -->
                        <p class="totalcart"></p>
                        <p class="totalcount"></p>
                    </div>
                    <div>
                        <button class="registerorder">ثبت سفارش</button>
                    </div>
                </div>
            </div>

        </section>


    </main>
{%endblock%}

{%block footer_refrences%}
    {%csrf_token%}
<!--    <script src="pstoredata2.js"></script>-->
    <script  type="module" src="{% static 'store/js/pstorecart2.js'%}"></script>
{%endblock%}
