{%extends "base.html" %}
{% load static %}

   {%block header_refrences%} <link rel="stylesheet" href="{% static 'store/css/register.css'%} "> {%endblock%}
   {%block title%} صفحه ثبت نام {%endblock%}
{%block content%}
<h1>صفحه ثبت نام</h1>

<!--<p>{{ request.method }}</p>-->
<!--{% csrf_token %}-->
<form method="post">
    {% csrf_token %}

    <label for="username">نام کاربری</label>
    <input type="text" id="username" name="username">

    <label for="password">رمز عبور</label>
    <input type="password" id="password" name="password">

    <label for="confirmpassword">تکرار رمز عبور</label>
    <input type="password" id="confirmpassword" name="confirmpassword">

    <label for="email">پست الکترونیک</label>
    <input type="email" id="email" name="email">

    <button type="submit">ثبت نام</button>

</form>
{% if messages %}
{% for message in messages %}
<p class="message">{{ message }}</p>
{% endfor %}
{% endif %}

{%endblock%}