{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pstore.css'%}">
    {%block header_refrences%} {%endblock%}
   <title>{%block title%} صفحه اصلی   {%endblock%}</title>
</head>

<body>
<header>
    <div class="logo">
        <a href="/">لوگو</a>
    </div>
    <div class="search">
        <input type="text">
        <button> جستجو</button>
    </div>
    <div class="account">
    {% if user.is_authenticated %}
        <span>(<a href="/account/">{{user.username }}</a>)خوش آمدی</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/myorders/" class="link">سفارش های من</a>&nbsp;&nbsp;&nbsp;
        <a href="/logout/" class="link">خروج</a>
    {% else %}
        <a href="/login/">ورود</a>
    {% endif %}
</div>
    <div class="cart">
        <a href="/cart/">سبد خرید</a>
    </div>
</header>
<nav>
    <ul class="menu">
        <li><a href="#">محصولات</a></li>
        <li><a href="#">دسته بندی</a></li>
        <li><a href="#">فروش ویژه</a></li>
        <li><a href="#">تخفیف ها</a></li>
    </ul>
</nav>
{% block content%}

{%endblock%}
<footer>
    <ul class="footer">
        <li><a href="#">در باره ما</a></li>
        <li><a href="#">خدمات</a></li>
        <li><a href="#">پشتیانی</a></li>
        <li><a href="#">شبکه های اجتماعی</a></li>
    </ul>
    {%block footer_refrences%}  {%endblock%}

</footer>
<!--    <script src="{%static 'js/pstoredata2.js' %}"></script>-->
<script type="module" src="{%static 'store/js/pstore2.js' %}"></script>
</body>

</html>